---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Acerca de mi">
    <header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6 ">
        <img class="pb-6" src="https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        
        
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-gray-800">Acerca de Mi</h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem tempora, magnam delectus amet sunt qui eos incidunt vitae accusantium, optio recusandae, dolorum ut unde doloribus eum aspernatur praesentium sit tempore.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem tempora, magnam delectus amet sunt qui eos incidunt vitae accusantium, optio recusandae, dolorum ut unde doloribus eum aspernatur praesentium sit tempore.</p>
    </div>
    
</header>
</Layout>